<div class='login-container'>
<h2>Login</h2>
  <form>
    <label for="login-input">Login name</label>
    <input type="text" class="login-input"></input>
    <br></br>
    <label for="password-input">Password</label>
    <input type="text" class="password-input"></input>
    <br></br>
    <button type="submit">Submit</button>
  <form>
</div>
